.test{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
fieldset{
    width: 500px;
}
.MuiFormLabel-root {
    width: auto;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
}
.numberOfCurrentQuestion{
    margin-left: -50px;
}

.question-name{
    font-size: 34px!important;
    padding-left: 30px!important;
}